[Desktop Entry]
Type=Application
Name=Resolve AAC Settings
Comment=Configure Resolve AAC Tools
Exec=resolve-aac-settings
Icon=io.github.raydurlok.ResolveAacTools
Terminal=false
Categories=AudioVideo;Video;
NoDisplay=true
